<div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">Sign up</h1>
    <p class="centeredDescription col_4">Already signed up? You can <%= link_to 'log in here', '/login' %></p>
    <div class="col_1">
      

            <%= form_for @user do |f| %>
                <%= f.label :email %>
                <%= f.text_field :email %><br>

                <%= f.label :username %>
                <%= f.text_field :username %><br>

                <%= f.label :password %>
                <%= f.password_field :password %><br>

                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %><br>

                <%= f.submit "create"%>
            <%end%>

            <% if flash[:errors] %>
                <% flash[:errors].each do |error|%>
                <p style="color:red" > <%= error %> </p>
                <% end %>
            <% end %>

      

    </div><!-- end column 2 contact form -->

    