<h1><%= @tag.name %><h1>

<% @tag.pictures.each do |picture|%>
    <div><%= image_tag picture.img_url%></div>
<%end%>

<%= button_to "View your profile", "/users/#{session[:user_id]}", method: :get%>
<%= button_to "View tags", "/tags", method: :get%>
<%= button_to "Sign out", '/signout', method: :destroy%>
<%= button_to "All users photos", '/pictures', method: :get%>
<%= button_to "add a picture", "/pictures/new", method: :get%>
<%= button_to "Delete Account", "/delete/#{session[:user_id]}", method: :destroy%>